In [4]:
import pandas as pd
import folium

In [26]:
green=pd.read_csv('green/seagreen최종.csv', encoding='cp949', engine='python')
green

      해역    년도     광역시도            지선         위도          경도
0     동해  2011      강원도  양양군 현북면 기사문리  38.096667  128.766111
1     동해  2011      강원도  양양군 현북면 기사문리  38.025278  128.809167
2     동해  2011      강원도  양양군 현북면 기사문리  38.162500  128.888611
3     동해  2011      강원도  양양군 현북면 기사문리  38.212500  128.970000
4     동해  2011      강원도    삼척시 원덕읍 신남  37.391389  129.508611
...   ..   ...      ...           ...        ...         ...
1241  제주  2022  제주특별자치도      서귀포시 중문동  33.240278  126.420833
1242  제주  2022  제주특별자치도     서귀포시 태흥1리  33.268056  126.718056
1243  제주  2022  제주특별자치도     서귀포시 태흥1리  33.268056  126.740278
1244  제주  2022  제주특별자치도     서귀포시 태흥1리  33.270833  126.740278
1245  제주  2022  제주특별자치도     서귀포시 태흥1리  33.270833  126.718056

[1246 rows x 6 columns]

In [27]:
green['위도']

0       38.096667
1       38.025278
2       38.162500
3       38.212500
4       37.391389
          ...
1241    33.240278
1242    33.268056
1243    33.268056
1244    33.270833
1245    33.270833
Name: 위도, Length: 1246, dtype: float64

In [47]:
map_CB=folium.Map(location=[36.633333, 127.85], zoom_start=7.5)

In [48]:
for i, add in green.iterrows():
    folium.Marker(location=[add['위도'],add['경도']],
                  popup=add['지선'],icon=folium.Icon(color='red',icon='star')).add_to(map_CB)

In [49]:
map_CB.save('green/map_apppage.html')